# Virtual environments
.venv/
venv/
env/
projectenv/

# Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.db
*.npy

# Binary files
*.dll
*.lib
*.so

# Face image folders
known_faces/
uploads/
ir_captures/
profile_pictures/

# Flutter build artifacts
build/
.dart_tool/
.packages
.pub-cache/
.idea/